.plat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height :90%;
}
.chat-box{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width:100%;

}
.terminal {
  height :70%;
  background-color: var(--background-secondary);
  color: var(--foreground-quaternary);
  white-space: pre-wrap;
	border-radius: 4px;
	overflow-y: scroll;
  word-wrap: break-word;
	padding: 15px;
}
button{
  background-color: var(--background-secondary);
  margin: 1px;
}
.inputClass2 {
  width: 90%;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin: 3px;
  resize: none;
  word-wrap: break-word;
  overflow: auto;
  background-color: var(--background-secondary);
  color: var(--foreground-quaternary);
}

.inputClass2:focus {
  outline: none;
}
input[type="file"] {
  padding: 7px 20px;
}

input[type="text"] {
  color: var(--foreground-primary);
  text-transform: none;
  width: 10em;
}

input[type="text"]:hover {
  cursor: text;
}

input:hover,
button:hover {
  // background: var(--background-light) !important;
  // background:#3a3b3a  !important;
  cursor: pointer !important;
}

input,
button {
  color: var(--foreground-primary);
  border: none !important;
  border-radius: 5px !important;
  background: var(--background-secondary) !important;
  letter-spacing: .1rem !important;
  margin: 2px 0 !important;
}
