<div chat class="plat">
  <p class="terminal" id="output" [innerHTML]="_term | safeHtml">
    <!-- {{term}} -->

  </p>
<!-- <p class="terminal" id="output" >
  <span [style.color]=" 'green' ">New at Proof?</span>
</p> -->
<form
(ngSubmit)="handleSubmit($event)"
(keydown.enter)="handleKeyDown($event)"
(keyup.enter)="handleKeyUp($event)"
class="chat-box"
>
  <textarea class="inputClass2" name="msg" [(ngModel)]="msg"
  [readonly]="no_submit"></textarea>
  <button type="submit" class="btn btn-primary">send</button>
</form>

</div>
