<!-- <mat-sidenav-container>

</mat-sidenav-container> -->

<mat-drawer-container>
  <mat-drawer *ngIf="currentRoute=='/notes'" #rightDrawer position="end" class="drawer-styles rightside"  mode="side" hasBackDrop="false" opened="true">
    <div class="drawer-styles">
      <button mat-icon-button color="secondary" (click)="newNote()" class="icons">New Note</button>

      <mat-divider></mat-divider>
      <mat-expansion-panel class="expansion-head">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-color">
            DEBUG
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-row class="expansion-style">
          <button mat-icon-button color="secondary" (click)="getNotesHeads()" class="icons">Get Notes</button>
          <button mat-button (click)="notes_serv.openDialog()">Launch dialog</button>
          <button mat-button (click)="notes_serv.debug_push_note_msg()">Pass Heads</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-divider></mat-divider>

      <p class="signin_status">
        {{note_status}}
      </p>
      <ul *ngIf="has_heads" >
        <li *ngFor="let head of named_notes_heads">
          <!-- <button type="button"> -->
            <p >{{head.note_id}}</p>
            <p >{{head.head}}</p>
          <!-- </button> -->
        </li>
      </ul>
    </div>
  </mat-drawer>

  <mat-drawer #drawer class="drawer-styles"  mode="side" hasBackDrop="false" opened="true">
    <div class="drawer-styles">
      <div class="signin_container">
        <mat-icon class="signin-icon" [ngStyle]="{ color: signin_stat ? 'green' : 'red' }">account_box</mat-icon>
        <p class="signin_status">
          {{signin_stat_str}}
        </p>
      </div>
      <mat-divider></mat-divider>
      <button routerLink="./notes" routerLinkActive="active" mat-icon-button color="secondary" (click)="toNotes()" class="icons">Notes</button>
      <button routerLink="./chat" routerLinkActive="active" mat-icon-button color="secondary" (click)="toChat()" class="icons">Chat</button>
      <button routerLink="./signin" routerLinkActive="active" mat-icon-button color="secondary" (click)="toSignin()" class="icons">User</button>
      <mat-divider></mat-divider>
      <font class="title-font" bold="true">PDM Notes</font>
    </div>
  </mat-drawer>
  <mat-drawer-content class="platf">
    <nav >
      <button mat-icon-button color="secondary" (click)="maindrawer.toggle()" class="icons">
        <mat-icon>menu</mat-icon>
      </button>
      <h5 class="title secondary-font"></h5>
      <button *ngIf="currentRoute=='/notes'" mat-icon-button color="secondary" (click)="notesnav.toggle()" class="icons">
        <mat-icon >list</mat-icon>
      </button>
      <!-- <fa-icon class="icons" [icon]="faLightbulb"  (click)="toggleTheme()"></fa-icon> -->
    </nav>
    <router-outlet ></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
