<!-- <mat-sidenav-container>

</mat-sidenav-container> -->

<!-- DESKTOP -->
<mat-drawer-container >
  <mat-drawer *ngIf="currentRoute=='/notes'" #rightDrawer position="end" class="matdrawer-styles "  [mode]="nav_open_mode" hasBackDrop="false" opened="true">
    <div class="drawer-styles">
      <button mat-icon-button color="secondary" (click)="newNote()" class="icons">New</button>

      <mat-divider></mat-divider>
      <p class="expansion-contain">
          <mat-list *ngIf="has_heads" dense>
            <mat-list-item *ngFor="let head of named_notes_heads;trackBy:getNoteId">
              <button type="button" (click)="getNote(head.note_id)" class="text-color note-listing">
                <span [attr.data-id]="head.id">
                  <p matLine>
                    {{head.note_id}} {{head.head}}
                  </p>
                  <p  class="pdm-update-time" matLine>
                    {{head.utime}}
                  </p>
                  <mat-divider></mat-divider>
                </span>
              </button>
            </mat-list-item>
          </mat-list>
      </p>
    </div>
  </mat-drawer>

  <mat-drawer #drawer class="matdrawer-styles"  [mode]="nav_open_mode" hasBackDrop="false" opened="true">
    <div class="drawer-styles">
      <div class="signin_container">
        <mat-icon class="signin-icon" [ngStyle]="{ color: signin_stat ? 'green' : 'red' }">account_box</mat-icon>
        <p >
          {{signin_stat_str}}
        </p>
      </div>
      <mat-divider></mat-divider>
      <button routerLink="./notes" routerLinkActive="active" mat-icon-button color="secondary" (click)="toNotes()" class="icons">Notes</button>
      <button routerLink="./chat" routerLinkActive="active" mat-icon-button color="secondary" (click)="toChat()" class="icons">Chat</button>
      <button routerLink="./signin" routerLinkActive="active" mat-icon-button color="secondary" (click)="toSignin()" class="icons">User</button>
      <mat-divider></mat-divider>
      <font class="title-font" bold="true">PDM Notes</font>
    </div>
  </mat-drawer>
  <mat-drawer-content class="platf">
    <nav >
      <button mat-icon-button color="secondary" (click)="maindrawer.toggle()" class="icons">
        <mat-icon>menu</mat-icon>
      </button>

      <h5 class="title secondary-font"></h5>
      <!-- note status -->
      <font *ngIf="currentRoute=='/notes'" class="note-status" >{{saving_str}}</font>
      <!-- debug menu -->
      <button mat-button [matMenuTriggerFor]="debug">Debug Menu</button>

      <button *ngIf="currentRoute=='/notes'"
       mat-icon-button color="secondary"
       (click)="notesnav.toggle()"
       class="icons">
        <mat-icon >list</mat-icon>
      </button>
      <!-- <fa-icon class="icons" [icon]="faLightbulb"  (click)="toggleTheme()"></fa-icon> -->
    </nav>
    <router-outlet ></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>


<!-- DEBUG DEFS -->
<mat-menu #debug="matMenu" xPosition="before">
  <button class="text-color" mat-menu-item [matMenuTriggerFor]="notesDebug">Notes</button>
</mat-menu>
<mat-menu #notesDebug="matMenu" xPosition="before">
  <button class="text-color" mat-menu-item [matMenuTriggerFor]="notesDebugOnline">live</button>
  <button class="text-color" mat-menu-item [matMenuTriggerFor]="notesDebugOffline">offline</button>
</mat-menu>
<!-- offline notes debug -->
<mat-menu #notesDebugOffline="matMenu" xPosition="before">
  <button class="text-color" mat-menu-item (click)="notes_serv.openDialog()">Launch dialog</button>
  <button class="text-color" mat-menu-item (click)="notes_serv.debug_push_note_msg()">Pass Heads</button>
  <button class="text-color" mat-menu-item (click)="userinfo.mock_ps()">Mock Pass</button>
</mat-menu>
<!-- online notes debug -->
<mat-menu #notesDebugOnline="matMenu" xPosition="before">
  <button class="text-color" mat-menu-item (click)="getNotesHeads()">Get Notes</button>
  <button class="text-color" mat-menu-item (click)="updateNote()">Update Note</button>
  <!-- <button class="text-color" mat-menu-item (click)="notes_serv.debug_push_note_msg()">Pass Heads</button> -->
</mat-menu>
