

.title-font{
  color:#32d498;
}
.title-break{
  flex-grow: 1;
}
.signin-icon{
  color: #2e9a62;
}
mat-drawer-container {

  height: 100%;
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
}
mat-divider{
  width: 100%;
  margin:2em;
  border-top-color: rgba(182, 189, 183, 0.285);
}
.drawer-styles{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: right;
  height: 95%;

  padding: 1em;
  padding-top: 2em;

  // border-right: 1px dotted black;
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
}
.signin_container {
  // align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-tertiary);
  color: gray;
  font-size: smaller;
}
p .sidetitle {
  color: #0d6d3b;
}
mat-drawer-content {
  padding: 1em;
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
}
nav {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
  font-size: 1rem;
  }

nav .title {
  margin-left: auto;
  margin-right: auto;
  height :10%;
  }

