
.platf{
  display:flex;
  flex-direction: column;
  align-items: normal;
}
.title-bar {
  flex-grow: 1;
  // margin-top: auto;
}
.pdm-contents {
  flex-grow: 99;

}
.title-font{
  color:#0aac42;
}
.title-break{
  // flex-grow: 1;
}
.signin-icon{
  color: #0aac42;
}
.note-status {
  color: rgb(107, 106, 106);
  font-size: smaller;
}
.main-container {
  // overscroll-behavior: contain; // scrolling
  position: fixed; // scrolling
  display:flex;
  flex-direction:column;
  align-items: stretch;
  // align-items: ;
  height: 100%;
  width: 100%;
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
}
mat-divider{
  // width: 100%;
  margin:2em;
  border-top-color: rgba(182, 189, 183, 0.285);
}
.matdrawer-styles{//outer
  background-color: var(--background-tertiary);
  margin-top: 2rem;
}

.drawer-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  height: 90%;
  padding: 8pt;
  padding-top: 18pt;
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
}


.signin_container {
  // align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-tertiary);
  color: rgb(136, 136, 136);
  font-size: smaller;
}
p .sidetitle {
  color:#919191;
  color: #0d6d3b;
}

mat-drawer-content {
  padding: 1em;
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
}


nav {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
  font-size: 1rem;
}

nav .title {
  margin-left: auto;
  margin-right: auto;
  height :10%;
}

.expansion-style-debug {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 3rem;
  overflow-y: scroll;
  word-wrap: break-word;
  color: var(--foreground-quaternary);
  background-color: var(--background-tertiary);
}
.expansion-head{
  display: flex;
  flex-direction: column;
  align-items: scroll;
  min-height: 2rem;
  color: var(--foreground-quaternary);
  background-color: var(--background-tertiary);
}
.expansion-contain{
overflow-y: scroll;
}

.note-listing{
  flex-direction: row;
  border: 0;
  outline: 0;
}

.expansion-style {
  flex-direction: column;
  align-items: center;
  min-height: 3rem;
}
.text-color {
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
}

::ng-deep.mat-menu-panel{
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
}

.localeButton{
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
  text-decoration: none;
  margin-top:auto;
  border:0;
  outline: 0;
}
.localeButton:hover {
  cursor: pointer !important;
}
