@use '@angular/material' as mat;
.mat-dialog-container{
  display: flex!important;
  flex-direction: column;
  align-items: stretch!important;
  width:100%!important;
  height: 100%!important;
  background-color: var(--background-tertiary)!important;
  color: var(--foreground-quaternary)!important;
}
.custom-color {
  background: var(--background-light)!important;
  color: var(--foreground-quaternary)!important;
}
.custom-color-parent {
  background: var(--background-tertiary)!important;
  color: var(--foreground-quaternary)!important;
}
.mat-expansion-panel{
  box-shadow: none !important;
}

.custom-style{
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 4px !important;
  background: var(--background-default) !important;
  letter-spacing: .1rem !important;
  margin: 2px 0 !important;
}

.small-setting-title{
  font-size: small;
}

.security-dropdown{
}


datalist{
  display: compact;
}
