
input[type="file"] {
	padding: 7px 20px;
}

input[type="text"] {
	color: #bfbfbf;
	text-transform: none;
	width: 10em;
}
div .status {
	color: #bfbfbf;
	text-transform: none;
	width: 10em;
}

input[type="text"]:hover {
	cursor: text;
}

input, button {
	padding: 10px 20px !important;
	border: none !important;
	border-radius: 4px !important;
	background: #2f3136 !important;
	letter-spacing: .1rem !important;
	margin: 2px 0 !important;
}


