<h1 class="dia" mat-dialog-title>{{data.dialogTitle}}</h1>
<div class="dia" mat-dialog-content>
  <p matLine>{{data.message}}</p>
  <p *ngIf="data.dialogType=='Enter' || data.dialogType=='Reenter' " matLine>
    <input class="enter-control" [placeholder]="enterMsgSet" (keyup.enter)="doneDialog()" type="password" [(ngModel)]="dialogInput" i18n />
  </p>

</div>
<div  class="dia" mat-dialog-actions>
  <button (click)="closeDialog()" mat-button mat-dialog-close>Close</button>
  <button  *ngIf="data.dialogType=='Enter' || data.dialogType=='Reenter' " (click)="doneDialog()" mat-button mat-dialog-close>Done</button>
</div>
